

main > .section > .cta-banner-wrapper {
    width: 100%;
    max-width: unset;
    margin: 0;
    padding: 0;
}
.ctabanner {
    display: block;
    width: 100%;
    max-width: 2000px;
    height: 200px;
    text-align: center;
    background-color: #202945;
}

.ctabanner .ctalink {
    font-weight: 400;
    font-size: 2rem;
    padding-top: 75px;
    --link-color: #fff;
    color: #fff;
}

.ctabanner .sublink {
    font-size: 0.8rem;
    color: #95785e;
}