

main > .section > .cta-banner-wrapper {
    width: 100%;
    max-width: unset;
    margin: 0;
    padding: 0;
}
.ctabanner {
    display: block;
    width: 100%;
    max-width: 2000px;
    height: 80px;
    text-align: center;
    background-color: #0079c1;
}

.ctabanner .ctalink {
    font-size: 20px;
    line-height: 18px;
    padding-top: 15px;
    --link-color: #fff;
}